.MovieCard{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #f3a1c4 2px solid;
}
.MovieCard:hover{
    border-radius: 20px;
    border: #b6075a 3px solid;
    transition: 2ms;
    background: #7f152b;
}

